.buttonGroup {
  height: 400px;
  margin-top: 15px;
  background: linear-gradient(to top, #49c3ec, #b6fffb);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.buttonGroup__button {
	display: flex;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 15px;
	height: 35px;
	width: 100%;
}

.buttonGroup__button-first{
	margin-top: 35px;
}

.button {	
  justify-content: flex-start;
  height: 70px;
  position: relative;
  margin:0 auto;
  width: 90%;
  background-color: white;
  border: none;
  border-radius: 35px;
  box-shadow: -2.071px 7.727px 8px 0px rgba(10, 67, 71, 0.1);
  font-size: 19px;
  font-family: "Poppins", serif;
  color: rgb(95, 115, 126);
  line-height: 1.2;
  padding-top: 10px;
  .low-label {
  	font-size: 11px;
  	margin-bottom: 12px;
  	line-height: 1.2;
  }

}

.buttonGroup__button-bold {
  font-size: 19px;
  margin-left: 5px;
  font-family: "Poppins", serif;
  color: rgb(95, 115, 126);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

