.wrapper {
  padding-top: 20px;
}

.upper-bar {
  margin-bottom: 20px;
}

.cancel-button {
  img {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2.5vh;
    margin-top: 5vh;
  }
}