.slider {
  padding-top: 30px;
}

.slider__wrapper {
  overflow: hidden;
  width: 100%;
}

.slider__body {
  display: flex;
  flex-direction: row;
  width: 4000px;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.slider__slide-first-title {
  font-size: 14px;
  font-family: "Poppins", serif;
  color: rgb(95, 115, 126);
  line-height: 0.99;    
  letter-spacing: -0.2px;    
  text-align: center;
}
.slider__slide-content {
  display: flex;
  flex-direction: column;
}

.slider-content__title {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  font-family: "Poppins";
  color: rgb(95, 115, 126);
  font-weight: bold;
  line-height: 0.967;
}

.slider-content__icon {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.first-item {
  margin-top: 25px;
}

.slider__item {
    font-size: 14px;
    font-family: "Poppins", serif;
    color: rgb(95, 115, 126);
    line-height: 0.967;
    text-align: left;
    position: relative;

}

.slider__circle {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  float: left;
  margin-bottom: 8px;
  img {
    display: block;
    margin-top: 8px;
  }
}

.slider__text-item {
  position:relative;
  top: 10px;
  left: 10px;
  float: left;
}

.circle1 {
  background-image: linear-gradient( -90deg, rgb(121,254,245) 1%, rgb(61,189,234) 100%);
}

.circle2 {
  background-image: linear-gradient( 90deg, rgb(229,89,234) 0%, rgb(255,157,199) 100%);
}

.circle3 {
  background-image: linear-gradient( 90deg, rgb(141,60,242) 0%, rgb(150,150,250) 99%);
}

.circle4 {
  background-image: linear-gradient( 90deg, rgb(212,39,222) 0%, rgb(255,196,141) 100%);
}

.circle5 {
  background-image: linear-gradient( 90deg, rgb(9,147,217) 0%, rgb(59,239,215) 98%);
}

.circle6 {
  background-image: -webkit-linear-gradient( 90deg, rgb(79,8,222) 1%, rgb(217,131,235) 99%);
}

.slider__control {
  margin-top: 10px;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.slider__point {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #d7dfe8;
}

.slider__point_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;

}

.slider__point-active {
  background-color: #97eef6;
}

.description {
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
  font-size: 11px;
  font-family: "Poppins";
  color: rgb(95, 115, 126);
  line-height: 1.9;
}
